<!--The whole content below can be removed with the new code.-->
<md-card *ngFor="let item of items">
  <md-card-content>
    <div style="float:left; width:70%">
      asdfasdfasdfasdfsdfasdfjhyfyjfgvkhjgkuygukyvkuyvkyvkjhvjhvkjhgkjhgkjhggkgjhgjhggfucvuyghb
    </div>
    <div style="float:left;width:15%">
      23874/23423
    </div>
    <div style="float:left;width:15%">sdf
    </div>
  </md-card-content>
</md-card>
<div>
  <md-table #table [dataSource]="dataSource">
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef>角色名</md-header-cell>
      <md-cell *mdCellDef="let role"> {{role.name}} </md-cell>
    </ng-container>
    <ng-container mdColumnDef="desc">
      <md-header-cell *mdHeaderCellDef>描述</md-header-cell>
      <md-cell *mdCellDef="let role"> {{role.desc}} </md-cell>
    </ng-container>
  </md-table>
</div>